html {
    background-color: aqua;
    font-family: Arial, sans-serif;
}

p {
    font-size: 1.5rem;
}


.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}